{% extends 'base.html' %}

{% block content %}
<!--
<h1>Hello World!!!</h1>
-->
<h1>Helllooo {{name}}!!!!</h1>
<!--
<h2>This is Django's Application</h2>

<h3>It is a simple web application</h3>
-->
<!--
<form action="">
    <input type="text" name="name" placeholder="Enter your name">
    <input type="submit" value="Submit">
</form>
-->
<form action="add">
    Enter 1sr number: <input type="text" name="num1"><br>
    Enter 2nd number: <input type="text" name="num2"><br>
    <input type="submit" value="Add">

    {% csrf_token %}
</form>

{% endblock %}